body{
    background-color: #99A799
  
  }
  
  hr{
      border-style: none; 
      border-top-style: dotted ;
      border-color: rgb(68, 29, 240);
      border-width: 10px;
      height: 50px;
      width: 15%;      
  }
  
  img{
    height: 200px;
  }
  
  h1{
  
    color: #97f15a
  }
  
  h3{
  
    color: #f5ec9d
  }